body {
  background-color: rgb(29, 8, 49);
  color: white;
  margin: 0px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

.main-header {
  border-bottom: 1px solid white;
  box-shadow: 0 10px 10px -1px rgba(255, 255, 255, 0.8);
}

.about-me {
  display: inline-block;
  margin: 2vh;
}

.about-me-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.about-me-photo {
  position: relative;
  width: 14vh;
  height: 14vh;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  outline: 3px solid white;
  transition: transform 0.4s ease;
}

.about-me-photo:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
  outline: 1px solid rgb(33, 250, 239);
}

.about-me-text {
  text-align: left;
  margin-left: 1.3rem;
  font-size: 1.1rem;
  width: 60%;
}

.about-me-text a {
  color: chocolate;
}

.about-me-certificate {
  width: 20vw;
  min-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-top: 0.4rem;
  transition: all 0.8s ease, box-shadow 0.7s ease;
}

.about-me-certificate:hover {
  transform: scale(2.5);
  border-radius: 0;
  object-fit: contain;
  box-shadow: 0 0 4px 2px chocolate;
  background: #222;
  transition: all 0.8s ease, box-shadow 0.7s ease;
}

.about-me-tech {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  margin-top: 2vh;
}

.about-me-tech-list {
  display: grid;
  width: 12rem;
  padding: 0;
  text-align: left;
}

.about-me-tech-list li {
  margin: 0.2em 0;
  padding: 0.2em 0.7em;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  text-align: left;
}

.main-works {
  display: inline-block;
  margin-top: 1vh;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
}


.work-item-image {
  height: auto;
  max-height: 14vh;
  object-fit: contain;
  margin-top: 1.4rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.work-item {
  margin: 0.4rem;
  padding: 0.4rem;
  border-width: 2px;
  border-radius: 8px;
  border-style: solid;
  border-color: white;
  background-color: rgb(50, 50, 50);
  width: 20vw;
  min-width: 360px;
  height: 30vh;
  box-sizing: border-box;
  transition: all 0.8s ease;
}

.work-item a {
  color: chocolate;
}

.restoran-rezervasyon-img {
  margin-top: 0.6rem;
}

.hesap-sitesi-img {
  margin-top: 2rem;
}

.example-ecommerce-img {
  margin-top: 2rem;
}

.work-item:hover {
  border-width: 1px;
  transform: scale(1.7);
  box-shadow: 0 0 15px 2px white;
  transition: all 0.9s ease;
  z-index: 10;
}

.work-item:hover .work-item-text {
  transform: scale(0.8);
  margin-top: -0.7rem;
}

.work-item:hover .restoran-rezervasyon-img {
  transform: scale(1.15);
}

.work-item:hover .kelime-bulmaca-img {
  transform: scale(1.5);
}

.work-item:hover .hesap-sitesi-img {
  transform: scale(1.5);
  margin-top: 2.6rem;
}

.work-item:hover .example-ecommerce-img {
  transform: scale(1.5);
  margin-top: 3.4rem;
}

.work-item-text,
.work-item-image {
  transition: all 0.9s ease;
}

.hesaplama-sitesi:hover .work-item-text, .example-ecommerce:hover .work-item-text {
  margin-top: -2rem;
}

.main-contact {
  display: block;
  margin-top: 2vh;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.contact-list {
  display: inline-block;
  text-align: left;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}

.contact-list a {
  color: chocolate;
  text-decoration: none;
}
.contact-list a:hover {
  text-decoration: underline;
}

@media (max-width: 1460px) {
  .about-me-certificate:hover {
    transform: scale(3);
  }
  .works-list {
    width: 1100px;
    transform: scale(1.5);
    margin-top: 12rem;
    transition: transform 0.6s ease;
  }
  .restoran-rezervasyon:hover, .hesaplama-sitesi:hover {
    transform: scale(1.2) translateX(45%);

  }
  .kelime-bulmaca:hover, .example-ecommerce:hover {
    transform: scale(1.2) translateX(-45%);
  }  
  .work-item-text {
  transition: all 0.9s ease;
    margin-top: -0.5rem;
  }
  .work-item:hover .work-item-text {
    transform: scale(0.8);
    margin-top: -1rem;
  }
  .hesaplama-sitesi:hover .work-item-text, .example-ecommerce:hover .work-item-text {
    margin-top: -2rem;
  }
  .main-contact {
    margin-top: 13rem;
  }
}

@media (max-width: 1150px) {
  .works-list {
    width: 800px;
    transform: scale(1.2);
    margin-top: 6rem;
    transition: transform 0.6s ease;
  }
  .work-item:hover {
    border-width: 1px;    
    box-shadow: 0 0 15px 2px white;
    transition: all 0.9s ease;
    z-index: 10;
  }
  .restoran-rezervasyon:hover, .hesaplama-sitesi:hover {
    transform: scale(1.7) translateX(30%);

  }
  .kelime-bulmaca:hover, .example-ecommerce:hover {
    transform: scale(1.7) translateX(-30%);
  }
}

@media (max-width: 920px) {
  .works-list {
    width: 500px;
    transform: scale(1.1);
    margin-top: 5rem;
    transition: transform 0.6s ease;
  }
  .work-item img {
    transform: scale(1);
    margin-top: 0.7rem;
  }
  .hesap-sitesi-img,
  .example-ecommerce-img {
    margin-top: 0.7rem;
  }
  .work-item .restoran-rezervasyon-img {
    margin-top: -0.3rem;
  }
  .work-item:hover img {
    margin-top: -0.4rem;
  }
  .work-item:hover .hesap-sitesi-img,
  .work-item:hover .example-ecommerce-img {
    margin-top: 2rem;
  }
  .work-item:hover .kelime-bulmaca-img {
    margin-top: 0.3rem;
  }
  .restoran-rezervasyon:hover, .hesaplama-sitesi:hover {
    transform: scale(1.2);

  }
  .kelime-bulmaca:hover, .example-ecommerce:hover {
    transform: scale(1.2);
  }
  .hesaplama-sitesi:hover .work-item-text, .example-ecommerce:hover .work-item-text {
    margin-top: -1.6rem;
  }
}