body {
  background: #8f3d07;
  background: linear-gradient(
    233deg, 
    rgba(143, 61, 7, 1) 0%, 
    rgba(76, 22, 128, 1) 51%, 
    rgba(143, 61, 7, 1) 100%
  );
  color: white;
  margin: 0px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
}

.top-start {
  border-bottom: 1px solid white;
  box-shadow: 0 2px 6px 1px rgba(255, 255, 255, 0.8);
}
.bottom-end {
  border-bottom: 2px solid white;
  box-shadow: 0 -2px 6px 1px rgba(255, 255, 255, 0.8);
}

.about-me {
  display: inline-block;
  margin: 2vh;
}

.about-me h2, .about-me h3 {
  margin-bottom: 0;
}

.about-me-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.about-me-photo {
  position: absolute;
  left: 6%;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  outline: 3px solid white;
  transition: transform 0.4s ease;
}
.about-me-photo:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
  outline: 1px solid mediumpurple;
}

.about-me-text {
  text-align: left;
  margin-left: 1.3rem;
  font-size: 1.1rem;
  width: 60%;
  line-height: 1.6rem;
}
.about-me-text a {
  color: mediumpurple;
}

.about-me-certificate {
  position: relative;
  width: 20vw;
  min-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-top: 0.8rem;
  transition: all 0.8s ease;
  z-index: 2;
}
.about-me-certificate:hover {
  transform: scale(2.2);
  border-radius: 0;
  object-fit: contain;
  box-shadow: 0 0 4px 2px mediumpurple;
  background: #222;
  transition: all 0.8s ease;
}

.certificate-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
  backdrop-filter: blur(1px);
  pointer-events: none;
  transition: all 1s ease;
  opacity: 0;
  z-index: 1;
}

.about-me-tech {
  align-items: center;
  justify-content: center;
  gap: 5vw;
  margin-top: 30px;
  margin-bottom: 10px;
}
.about-me-tech-images {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 70%;
  margin: 10px auto 0px auto;
}
.tech-images {
  gap: 1rem;
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  padding: 8px;
}

.main-works {
  display: inline-block;
  margin-top: 1vh;
}

.my-works-header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 18px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1260px;
  gap: 10px;
  transition: transform 0.6s ease;
}
.work-item {
  margin: 6px;
  padding: 6px;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  border-color: white;
  background-color: rgba(50, 50, 50, 0.7);
  box-shadow: 0 0 6px 1px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 330px;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  transition: all 0.6s ease;
}
.work-item-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: auto;
  height: 170px;
  width: 60%;
  margin-bottom: 16px;
  border-radius: 10px;
  background-color: white;
}
.work-item a {
  color: mediumpurple;
}
.work-name {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin: 5px 0 5px 0;
}
.work-description {
  font-size: 14px;
}
.backend-description {
  margin: 5px 0 0 0;
}
.tech-stack-description {
  font-style: italic;
  font-size: 14px;
  color: lightgray;
}
.work-item:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px 2px mediumpurple;
  z-index: 100;
}

.main-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px auto 40px auto;
}
.contact-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1rem;
  width: fit-content;
}
.contact-name {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: left;
  margin-right: -8px;
}
.contact-email, .contact-linkedin, .contact-github {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-email {
  margin-top: -1px;
}
.contact-linkedin {
  margin-top: 1px;
}
.contact-github {
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: -13px;
}

.contact-route {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}
.contact-route a {
  color: mediumpurple;
  text-decoration: none;
}
.contact-route a:hover {
  text-decoration: underline;
}

@media (max-width: 1360px) {
  .about-me-photo {
    left: 5%;
    width: 140px;
    height: 140px;
  }
  .about-me-certificate:hover {
    transform: scale(2.4);
  }
  .works-list {
    width: 1140px;
    gap: 20px;
    transition: transform 0.6s ease;
  }
  .work-item {
    width: 480px;
    height: 400px;
  }
  .work-name {
    font-size: 20px;
  }
  .work-item-image {
    height: 170px;
  }
  .work-item:hover {
    transform: scale(1.3);
    margin-top: -0.2rem;
  }
  .work-description {
    font-size: 18px;
    margin-top: 0.6rem;
  }
  .main-contact {
    margin-top: 70px;
  }
}

@media (max-width: 1150px) {
  .works-list {
    width: 900px;
    margin-top: 3rem;    
  }
  .work-item {
    width: 400px;
    height: 350px;
  }
}

@media (max-width: 978px) {
  .about-me {
    width: 88%;
  }
  .about-me-photo {
    left: 4%;
  }
  .about-me-photo:hover {
    transform: scale(1.3) translate(15%);
  }
  .works-list {
    width: 580px;
    margin-top: 3rem;
  }
  .work-name {
    font-size: 18px;
  }
  .work-description {
    font-size: 16px;
  }
  .main-contact {
    margin-top: 4rem;
  }
}

@media (max-width: 850px) {
  .about-me-photo {
    left: 4%;
    height: 12vh;
    width: 12vh;
  }
}

@media (max-width: 600px) {
  .about-me {
    width: 88%;
  }
  .about-me-photo {
    left: 2%;
    height: 12vh;
    width: 12vh;
  }
  .about-me-certificate:hover {
    transform: scale(1.7);
  }
  .works-list {
    width: 330px;
    margin-top: 4rem;
  }
  .work-item {
    width: 280px;
    height: 400px;
  }
  .work-item-image {
    width: 100%;
  }
  .work-description {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .tech-stack-description {
    margin-top: 0;
  }
  .main-contact {
    width: 92%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 520px) {
  .about-me-photo {
    left: 5%;
    height: 8vh;
    width: 8vh;
  }
  .about-me-photo:hover {
    transform: scale(1.6) translate(20%);
  }
  .contact-list {
    font-size: 16px;
  }
  .contact-email, .contact-linkedin, .contact-github {
    width: 20x;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .contact-email {
    margin-top: -1px;
  }
  .contact-linkedin {
    margin-top: 3px;
  }
  .contact-github {
    width: 44px;
    height: 44px;
    margin-top: -8px;
    margin-left: -10px;
  }  
}