body {
  background-color: rgb(29, 8, 49);
  color: white;
  margin: 0px;
  text-align: center;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 0.9rem;
}

.main-header {
  border-bottom: 1px solid white;
  box-shadow: 0 10px 10px -1px rgba(255, 255, 255, 0.8);
}

.about-me {
  display: inline-block;
  margin: 2vh;
}

.about-me-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.about-me-photo {
  position: relative;
  width: 14vh;
  height: 14vh;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  outline: 3px solid white;
  transition: transform 0.4s ease;
}

.about-me-photo:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
  outline: 1px solid rgb(33, 250, 239);
}

.about-me-text {
  text-align: left;
  margin-left: 1.3rem;
  font-size: 1.1rem;
  width: 60%;
}

.about-me-text a {
  color: chocolate;
}

.about-me-certificate {
  width: 20vw;
  min-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-top: 0.4rem;
  transition: all 0.8s ease;
}

.about-me-certificate:hover {
  transform: scale(2.2);
  border-radius: 0;
  object-fit: contain;
  box-shadow: 0 0 4px 2px chocolate;
  background: #222;
  transition: all 0.8s ease;
}

.about-me-tech {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  margin-top: 2vh;
}

.about-me-tech-list {
  display: grid;
  width: 12rem;
  padding: 0;
  text-align: left;
}

.about-me-tech-list li {
  margin: 0.2em 0;
  padding: 0.2em 0.7em;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  text-align: left;
}

.main-works {
  display: inline-block;
  margin-top: 1vh;
}

.my-works-header {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1260px;
  gap: 10px;
  transition: transform 0.6s ease;
}

.work-item {
  margin: 6px;
  padding: 6px;
  border-width: 2px;
  border-radius: 8px;
  border-style: solid;
  border-color: white;
  background-color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 330px;
  box-sizing: border-box;
  transition: all 0.6s ease;
}

.work-item-image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 110px;
  width: 100%;
  margin-top: auto;
  margin-bottom: 10px;
}

.work-item a {
  color: chocolate;
}

.work-name {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin: 5px 0 5px 0;
}

.work-description {
  font-size: 14px;
}

.tech-stack-description {
  margin-top: 0;
  font-style: italic;
  font-size: 14px;
  color: lightgray;
}

.work-item:hover {
  transform: scale(1.3);
  box-shadow: 0 0 15px 2px chocolate;
  z-index: 100;
}

.main-contact {
  display: block;
  margin: 60px 0 40px 0;
}

.contact-list {
  display: inline-block;
  text-align: left;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}

.contact-list a {
  color: chocolate;
  text-decoration: none;
}
.contact-list a:hover {
  text-decoration: underline;
}

@media (max-width: 1360px) {
  .about-me-certificate:hover {
    transform: scale(2.4);
  }
  .works-list {
    width: 1140px;
    gap: 20px;
    transition: transform 0.6s ease;
  }
  .work-item {
    width: 480px;
    height: 400px;
  }
  .work-name {
    font-size: 20px;
  }
  .work-item-image {
    height: 170px;
  }
  .work-item:hover {
    transform: scale(1.3);
    margin-top: -0.2rem;
  }
  .work-description {
    font-size: 18px;
    margin-top: 0.6rem;
  }
  .main-contact {
    margin-top: 70px;
  }
}

@media (max-width: 1150px) {
  .works-list {
    width: 900px;
    margin-top: 6rem;    
  }
  .work-item {
    width: 400px;
    height: 350px;
  }
}

@media (max-width: 920px) {
  .works-list {
    width: 580px;
    margin-top: 3rem;
  }
  .work-name {
    font-size: 18px;
  }
  .work-description {
    font-size: 16px;
  }
  .main-contact {
    margin-top: 4rem;
  }
}

@media (max-width: 600px) {
  .about-me {
    width: 88%;
  }
  .about-me-certificate:hover {
    transform: scale(1.7);
  }
  .works-list {
    width: 330px;
    margin-top: 4rem;
  }
  .work-item {
    width: 280px;
    height: 400px;
  }
  .work-description {
    font-size: 16px;
  }
  .main-contact {
    width: 92%;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
}